/*página principal*/
#tituloMain {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

#nav li a:hover {
    background-color: #2b2b2b;
}

body {
    background-image: url('./imagenes/mont2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

#main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(37, 37, 37, 0.932);
}

#indice {
    list-style-type: none;
    float: right;
    height: 165px;
    width: 13%;
    background:rgba(37, 37, 37, 0.932);
    position: relative;
    top: 50px;
    margin-right: 45px;
    border-radius: 15px;
    font-family:'Times New Roman', Times, serif;
}

#indice a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: block;
    padding-top: 10px;
}

#indice a:hover {
    color: black;
}

#introducción{
    overflow: hidden;
}

.izquierda {
    float: left;
    width: 37%;
    margin-left: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}

.derecha {
    float: right;
    width: 50%;
    margin-right: 40px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
}

.tituloDerecha {
    margin-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.tituloizquierda {
    text-align: right;
    margin-right: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tituloST {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#historia_de_castellón {
    overflow: hidden;
}

#tiutloEF {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#img {
    float: right;
    width: 37%;
    margin-right: 40px;
    position: relative;
    top: 150px;
}

#SitiosTuristicos {
    margin-left: 40px;
    font-family:'Times New Roman', Times, serif;
    margin-right: 40px;
}

#equipoFut {
    overflow: hidden;
}

#estadioCastellon {
    float: right;
    width: 37%;
    margin-left: 40px;
    position: relative;
    top: 300px;
}

#volverPrincipio {
    text-align: center;
    padding-bottom: 20px;
}

#volverPrincipio a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#volverPrincipio a:hover {
    color: black;
}

#linkwiki {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#linkwiki:hover {
    color: black;
}

#rss {
    float: right;
    padding-right: 30px;
}

/*Agenda*/


#tablaAgenda {
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

#tituloMes {
    background-color: rgb(189, 182, 182, 0.774);
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-style: hidden;
}

.dias {
    background-color:  rgba(189, 182, 182, 0.774);
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-style: hidden;
}

.celdas {
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
}

#mainAgenda {
    background:rgba(37, 37, 37, 0.932);
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

#tituloAgenda {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

#agenda {
    font-weight: bold;
    padding-top: 20px;
}

#volverAgenda{
    position: relative;
    top: 150px;
}

/*Formulario*/

#tituloForm {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

#mainform {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(37, 37, 37, 0.932);
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
    border-radius: 15px;
}

#parrafoForm {
    padding-top: 30px;
    text-align: center;
}

#form {
    padding-left: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: rgb(187, 181, 181);
    max-width: 470px;
    border-radius: 15px;
}

label {
    font-weight: bold;
    color: black;
}

.boton {
    background-color: #95989b;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
}

.boton:hover {
    background-color: #acacac;
}

#volverForm {
    position: relative;
    top: 20px;
}