/*horario*/

#tablaAgenda {
    border-color:black;
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
#tituloMes {
    background-color: rgba(70, 168, 40, 0.877);
    border-color:black;
    border-width: 1px;
    border-style: hidden;
}
.dias {
    background-color:  rgba(70, 168, 40, 0.877);
    border-color:black;
    border-width: 1px;
    border-style: hidden;
}
.celdas {
    border-color:black;
    border-width: 1px;
    border-style: solid;
}
#mainAgenda {
    background:rgba(255, 255, 255, 0.623);
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#tituloAgenda {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

#agenda {
    font-weight: bold;
    padding-top: 20px;
}
#volverAgenda{
    position: relative;
    top: 150px;
}

/*página principal*/

#tituloMain {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c7c3c3;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nav li a:hover {
    background-color: #d3cfcf;
}

body {
    background-image: url('./imagenes/mont.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(255, 255, 255, 0.623);
}

#indice {
    float: left;
    height: 120px;
    width: 13%;
    background:rgba(255, 255, 255, 0.623);
    position: relative;
    top: 50px;
    margin-left: 45px;
    border-radius: 15px;
}

#indice a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#indice a:hover {
    color: white;
}

#introducción{
    overflow: hidden;
}

.izquierda {
    float: left;
    width: 37%;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.derecha {
    float: right;
    width: 50%;
    margin-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

.tituloDerecha {
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.tituloizquierda {
    text-align: right;
    margin-right: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tituloST {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tiutloEF {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#historia_de_castellón {
    overflow: hidden;
}

#img {
    float: left;
    width: 37%;
    margin-left: 40px;
    position: relative;
    top: 150px;
}

#SitiosTuristicos {
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 40px;
}

#equipoFut {
    overflow: hidden;
}

#estadioCastellon {
    float: left;
    width: 37%;
    margin-left: 40px;
    position: relative;
    top: 300px;
}

#volverPrincipio {
    text-align: center;
    padding-bottom: 20px;
}

#linkwiki {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#linkwiki:hover {
    color: #ffffff;
}

#volverPrincipio a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#volverPrincipio a:hover {
    color: black;
}

#rss {
    float: left;
    padding-left: 30px;
}

/*Formulario*/
#tituloForm {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

#mainform {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background:rgba(255, 255, 255, 0.623);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

#parrafoForm {
    padding-top: 30px;
    text-align: center;
}

#form {
    padding-left: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: white;
    max-width: 470px;
    border-radius: 15px;
}

label {
    font-weight: bold;
}

.boton {
    background-color: #a3abb4;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.boton:hover {
    background-color: #c5c1c1;
}

#volverForm {
    position: relative;
    top: 20px;
}